{# templates/content/made-in-delta.html.twig #}
{% extends "base.html.twig" %}
{% block title %}
	#MadeInDelta
{% endblock %}
{% block body %}
   {{ include('content/inc/header.html.twig') }}
<link href="{{ absolute_url(asset('assets/css/made_in_delta.css')) }}" rel="stylesheet"/>
	<section class="made-in-delta">
		<div class="overlay"></div>
		<div class="container">
			<div class="col-lg-12">
				<h1>#MadeInDelta</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper metus at suscipit iaculis. Pellentesque consequat eros mi, eu imperdiet est convallis quis. Maecenas non risus sit amet ipsum venenatis facilisis eget vitae risus. In at lobortis lorem. Maecenas a blandit odio. Vivamus pellentesque augue sem, placerat
				</p>
				<a href="">Join Us</a>
			</div>
		</div>
	</section>
	
	<div class="card-container">
	<section class="latest latest-width">
		<div class="container">
		
        <div class="move-card-up">
			<div class="row">
				<div class="col-md-4">
					<div class="news">
						<h4>Waffihub Releases innovative Fintech App</h4>
						<img src="{{ absolute_url(asset('assets/images/news.jpg')) }}" alt="news"/>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Phasellus
						</p>
						<div class="footnote">
							<strong>By Efe Michael</strong>
							<a href="#">Read</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="news">
						<h4>Waffihub Releases innovative Fintech App</h4>
						<img src="{{ absolute_url(asset('assets/images/news.jpg')) }}" alt="news"/>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Phasellus
						</p>
						<div class="footnote">
							<strong>By Efe Michael</strong>
							<a href="#">Read</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="news">
						<h4>Waffihub Releases innovative Fintech App</h4>
						<img src="{{ absolute_url(asset('assets/images/news.jpg')) }}" alt="news"/>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Phasellus
						</p>
						<div class="footnote">
							<strong>By Efe Michael</strong>
							<a href="#">Read</a>
						</div>
					</div>
				</div>
			</div>

            <div class="row">
				<div class="col-md-4">
					<div class="news">
						<h4>Waffihub Releases innovative Fintech App</h4>
						<img src="{{ absolute_url(asset('assets/images/news.jpg')) }}" alt="news"/>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Phasellus
						</p>
						<div class="footnote">
							<strong>By Efe Michael</strong>
							<a href="#">Read</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="news">
						<h4>Waffihub Releases innovative Fintech App</h4>
						<img src="{{ absolute_url(asset('assets/images/news.jpg')) }}" alt="news"/>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Phasellus
						</p>
						<div class="footnote">
							<strong>By Efe Michael</strong>
							<a href="#">Read</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="news">
						<h4>Waffihub Releases innovative Fintech App</h4>
						<img src="{{ absolute_url(asset('assets/images/news.jpg')) }}" alt="news"/>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Phasellus
						</p>
						<div class="footnote">
							<strong>By Efe Michael</strong>
							<a href="#">Read</a>
						</div>
					</div>
				</div>
			</div>
            
            </div>
		</div>
	</section>
    </div>
	{{ include('content/inc/footer.html.twig') }}
{% endblock %}
